Source: dgse-alttab
Section: admin
Priority: optional
Maintainer: Hiweed <hiweed@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: dgse-alttab
Architecture: all
Depends: libglib2.0-bin
Description: Gnome Shell Extension Alt Tab
 Traditional Alt Tab for Gnome Shell
