Source: dgse-shutdownmenu
Section: admin
Priority: optional
Maintainer: Leng Guanghua <hiweed@gmail.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2

Package: dgse-shutdownmenu
Architecture: all
Description: Gnome Shell Extension Shutdown Menu
 Replace Suspend menu with Shutdown and add Suspend/Hibernate to Power Off dialog
