Source: dgse-noa11y
Section: admin
Priority: optional
Maintainer: Leng Ganghua <hiweed@gmail.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2

Package: dgse-noa11y
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Description: Gnome Shell Extension No A11Y
 Hides the accessibility icon in Gnome 3
