Source: dgse-noa11y
Section: admin
Priority: optional
Maintainer: Hiweed <hiweed@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: dgse-noa11y
Architecture: all
Description: Gnome Shell Extension No A11Y
 Hides the accessibility icon in Gnome 3
