Source: dgse-xrandr
Section: admin
Priority: optional
Maintainer: Leng Ganghua <hiweed@gmail.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2

Package: dgse-xrandr
Architecture: all
Depends: ${misc:Depends}, gir1.2-gnomedesktop-3.0, gnome-shell (>=3.2.0-1~)
Description: Gnome Shell Extension Monitor Status
 Add a systems status menu for rotating monitors
