Source: dgse-userthemes
Section: admin
Priority: optional
Maintainer: Hiweed <hiweed@gmail.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2

Package: dgse-userthemes
Architecture: all
Depends: ${misc:Depends}, libglib2.0-bin, gnome-shell (>=3.2.0-1~)
Description: Gnome Shell Extension User Themes
 Load shell themes from user directory
