Source: dgse-windowlist
Section: admin
Priority: optional
Maintainer: Hiweed <hiweed@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.2

Package: dgse-windowlist
Architecture: all
Description: Gnome Shell Extension Window List
 A window list for Gnome 3
