Source: dgse-windowlist
Section: admin
Priority: optional
Maintainer: Leng Ganghua <hiweed@gmail.com>
Build-Depends: debhelper (>= 8)
Standards-Version: 3.9.2

Package: dgse-windowlist
Architecture: all
Depends: ${misc:Depends}, gnome-shell (>=3.2.0-1~)
Description: GNOME Shell Extension Window List
 A window list for GNOME 3
